@import url(../css/fonts.css);
@import url(../css/reset.css);
$height: 100%;
$font-size: 22px;
$font-weight: 500;
$font-weight_bolt: 700;
$display-flex: flex;
$text-center: center;
html {
    height: $height;
}
body {
    height: $height;
    font-family: 'MuseoSansCyrl';
}
.flex-container {
    height: $height;
    display: $display-flex;
    flex-direction: column;
}
header {
    position: relative;
    display: $display-flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    padding: 10px 3px 24px 30px;
    background-color: #d3b714;
    height: 80px;
    @media (max-width: 1191px) {
        padding-left: 70px;
        padding-right: 25px;
    }
    @media (max-width: 991px) {
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0;
    }
    @media (max-width: 767px) {
        justify-content: space-between;
    }
    .logo {
        @media (max-width: 767px) {
            margin-top: 13px;
            margin-left: 10px;
        }
    }
    .nav {
        .nav-menu {
            display: $display-flex;
            @media (max-width: 1191px) {
                margin-right: 15px;
            }
            @media (max-width: 767px) {
                position: fixed;
                flex-direction: column;
                top: 0;
                right: -100%;
                width: 50%;
                height: 100vh;
                padding: 20px 15px;
                background-color: rgba(199, 152, 185, .8);
                transition: 0.6s all;
            }
            @media (max-width: 320px) {
                padding: 40px 0 10px;
            }
            .menu_item {
                margin-right: 14px;
                @media (max-width: 1191px) {
                    margin-right: 25px;
                }
                @media (max-width: 767px) {
                    margin: 15px 0 0 35px; 
                }
                @media (max-width: 320px) {
                    margin-left: 10px; 
                }
                a {
                    font-size: $font-size;
                    font-weight: $font-weight;
                    color: #000;
                    text-decoration: none;
                    &:hover {
                        color: #6c4282;
                        text-decoration: underline;
                        font-weight: $font-weight_bolt;
                    }
                    @media (max-width: 767px) {
                        color: #fff;
                        font-weight: $font-weight_bolt;
                        font-size: 30px;
                    }
                }
            }
        }
        .menu__active {
            @media (max-width: 767px) {
                right: -15px;
            }
        }
        .menu__hamburger {
            display: none;
            @media (max-width: 767px) {
                display: block;
                position: absolute;
                right: 15px;
                top: 35%;
                width: 26px;
                height: 12px;
                span {
                    display: block;
                    height: 4px;
                    width: 100%;
                    background-color: #6c4282;
                    margin-bottom: 2px;
                    transition: 0.5s all;
                    @media (max-width: 575px) {
                        height: 6px;
                    }
                }
            }
        }
        .hamburger__active {
            @media (max-width: 767px) {
                span:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                    margin-bottom: -4px;
                    @media (max-width: 575px) {
                        margin-bottom: -6px;
                    } 
                }
                span:nth-child(2) {
                    display: none;
                }
                span:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                    margin-bottom: -4px;
                    @media (max-width: 575px) {
                        margin-bottom: -6px;
                    }                 
                }
            }
        }
    }      
}     
.wrapper_content {
    flex: 1 1 auto;
    display: $display-flex;
    justify-content: space-between;
    @media (max-width: 991px) {
        flex-direction: column;
    }
    .main-content {
        padding: 39px 0 33px 0;
        order: 2;
        @media (max-width: 991px) {
            order: 1;
        }
        @media (max-width: 575px) {
            padding: 25px 0 20px 0;
        }
        p {
            padding: 0 44px;
            line-height: 24px;
            text-align: $text-center;
            font-size: $font-size;
            @media (max-width: 991px) {
                width: 75%;
                margin: 0 auto;
                font-size: 17px;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
        h1 {
            font-size: 30px;
            font-weight: $font-weight_bolt;
            text-align: $text-center;
            margin-top: 29px;
            text-transform: uppercase;
            @media (max-width: 991px) {
                font-size: 25px;
            }
            @media (max-width: 767px) {
                margin-top: 0;
            }

        }
        .flex-container_cards {
            display: $display-flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 6px; 
            .card {
                display: $display-flex;
                flex-direction: column;
                align-items: center;
                padding: 12px 18px 11px 20px;
                min-height: 340px;
                width: 280px;
                margin-top: 23px;
                margin-right: 15px;
                border: 2px solid #808080;
                border-radius: 15px;
                @media (max-width: 1191px) {
                    margin-right: 5px;
                    min-height: 400px;
                    margin-top: 15px;
                }
                @media (max-width: 767px) {
                    padding: 12px 20px 20px 20px;
                    min-width: 65%;
                    min-height: 420px;
                }
                @media (max-width: 575px) {
                    margin-right: 0;
                    min-width: 90%;
                }
                &:hover {
                    box-shadow:
                    7px 7px #53ea93;
                    transform: translateX(-7px);
                    transition: all 0.2s linear;
                    @media (max-width: 991px) {
                        transform: translateY(-7px);
                    }
                    @media (max-width: 767px) {
                        transform: translateX(-7px);
                    }
                    @media (max-width: 757px) {
                        transform: translateY(-7px);
                    }
                    .wrapper-round {
                        border: 10px solid #aa7bc2;
                    }
                    .button-card {
                        background-color: #6c4282;
                        transform: scale(1.2);
                    }
                }
                .wrapper-round {
                    display: $display-flex;
                    justify-content: center;
                    align-items: center;
                    border: 10px solid #c7b7b7;
                    border-radius: 100%;
                    img {
                        border-radius: 100%;
                    }
                }
                h3 {
                    font-size: $font-size;
                    font-weight: $font-weight_bolt;
                    text-align: $text-center;
                    margin-top: 16px;
                }
                .descr {
                    margin-top: 20px;
                    margin-bottom: 13px;
                    text-align: $text-center;
                    @media (max-width: 1191px) {
                        margin-top: 25px;
                    }
                    @media (max-width: 767px) {
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                    @media (max-width: 320px) {
                        font-size: 16px;
                    }
                }
                .button-card {
                    width: 50px;
                    height: 30px;
                    margin-top: auto;
                    background-color: #685174;
                    border-radius: 10px;
                    text-align: $text-center;
                    color: #fff;
                    font-weight: $font-weight_bolt;
                    cursor: pointer;
                    @media (max-width: 767px) {
                        width: 60px;
                        height: 50px;
                    }
                }
            }
        }
    } 
    .sidebar-left, .sidebar-right {
        padding-top: 14px;
        text-align: $text-center;
        font-size: $font-size;
        font-weight: $font-weight;
        flex: 1 0 210px;
        @media (max-width: 991px) {
            flex: 1 0 50%;
            line-height: 115px;
        }
        @media (max-width: 575px) {
            flex: 1 0 auto;
            font-size: 18px;
        }
    }
    .sidebar-left {
        background-color: #c798b9;  
        order: 1;
        @media (max-width: 991px) {
            order: 2;
        }
    }
    .sidebar-right {
        background-color: #9cb1c7;
        order: 3;
    }
}
footer {
    flex: 0 1 auto;
    background-color: #82e682;
    height: 80px;
    padding: 16px 0 8px 0;
    font-size: $font-size;
    font-weight: $font-weight;
    text-align: $text-center;
    @media (max-width: 575px) {
        font-size: 18px;
    }
}

